@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
    ViewBag.Title = "Dashboard";
}

<div> 
    <div id="dashboard-content"></div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/dashboardPrototypeBundle.js")"></script>
}